# Node modules
node_modules

#package-lock
package-lock.json

# Adonis directory for storing tmp files
tmp

# The development sqlite file
database/development.sqlite

# Public path
public

.idea
.sonarlint
